doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title Harp v#{ pkg.version }
		meta(name="handheldfriendly", content="true")
		meta(name="mobileoptimized", content="320")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="cleartype", content="on")
		include error.css
	body
		!= yield
		footer
			p Harp <span class="version">v#{ pkg.version }</span>&nbsp;
				a(href="http://harpjs.com/docs/", target="_blank") Documentation
